@keyframes fallAndFade {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(100px) scale(0.8);
    opacity: 0;
  }
}

.falling-image {
  position: absolute;
  pointer-events: none;
  width: 40px;
  height: 40px;
  animation: fallAndFade 1.2s ease-out forwards;
  z-index: 1000;
}


@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 11));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 11));
  }
}
.slider {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  z-index: 1000;
  background-color: transparent;
  border-radius: 30px;

  width: calc(100% - 20px);
  border: 3px solid var(--text-brown);
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
}

.slider::before{
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background-color: white;
  border-radius: 25px;
  z-index: -1;
}

.slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 22);
}
.slider .slide {
  height: 100px;
  width: 250px;
}


@media (max-width:768px){
  .slider::before, .slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  }
}

